{% extends "base.html" %}

{% block title %}Write Letter{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}
  <!-- Write a Letter Form -->
  <div class="container-fluid">
      <div class="row-fluid">
          <div class="hidden-tablet span2">
              <!-- TODO: Scroll-spy Sidebar -->
          </div>
          <div class="span10">
              <!-- Select a representative form -->
              <legend>Select A Representative</legend>
              <form class="form-horizontal" id="formSelectRep" method="POST">
                  <input placeholder="Find Your Representative"
                         class="input-large" type="text">
                  <button class="btn btn-primary">Select Rep.</button> <!-- TODO: validate text box, select rep -->
                  <div class="lead">- or -</div>
                  <input placeholder="Search By Zip Code" class="input-medium"
                         type="text">
                  <button class="btn btn-primary">Find</button> <!-- TODO: Pop up modal -->
                  <div id="selectedRepText">
                      <h5>Selected representative: <em>Senator Poopy McFlannigan</em></h5>
                  </div>
              </form>

              <!--Address Form -->
              <form class="form-horizontal" id="sender-form" method="POST">
                <legend>Write A Letter</legend>
                {% crispy address-form address-form.helper %}

                <!-- Write a letter -->
                <legend>Write Your Letter</legend>
                  <div class="clearfix">
                    <div class="span4 offset1">
                      <textarea id="letterText" rows="10" name="letterText"></textarea>
                      <span class="help-block">$NUMBER characters left.</span>
                    </div>
                  </div>

                <!-- Select Charity -->
                <legend>Select A Charity</legend>
                <label class="radio">
                    <input value="true" id="radio1" name="radio" type="radio"> Electronic Freedom Frontier (EFF) (?)</label>
                <label class="radio">
                    <input value="true" id="radio2" name="radio" type="radio"> American Civil Liberties Union (ACLU) (?)</label>
                <label class="radio">
                    <input value="true" id="radio3" name="radio" type="radio"> Red Cross (?)</label>

                <!-- Submit Buttons -->
                <div class="form-actions">
                    <input class="btn" value="Preview PDF" type="reset">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
          </div>
      </div>
  </div>
{% endblock %}